html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  /* width: 100%; */
  /* height: 5%; */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/******************************/
.pointer {cursor: pointer;}

.top_bar {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: blue;
}

.logo_and_search {
  float: left;
  margin-left: 15%;
  width: 35%;
}

.logo, .search_text, .search_button {
  float: left;
  display: inline;
  margin-right: 5px;
  margin-top: 3px;
}


#logo_img, #search_img {
  width: 23px;
  height: 23px;
}

#search_bar {
  width: 250px;
  height: 17px;
}


.options {
  margin-right: 10%;
  display: inline;
  float: right;
}

.avatar_and_name, .avatar, .profile_name, .account_switcher, .home, .friends_messages_notifications,
.friends, .messages, .notifications, .help_and_dropdown, .help, .dropdown{
  float: left;
  display: inline;
}

.avatar_and_name {
  margin-right: 20px;
}

.avatar {
  margin-top: 4px;
}
.profile_name {
  margin-top: 7px;
  margin-left: 5px;
}
.avatar img, .account_switcher img, .friends img, .messages img, .notifications img {
  width: 23px;
  height: 23px;
}
.profile_name p, .home p {
  color: white;
}

.account_switcher {
  margin-top: 4px;
  margin-left: 10px;
}

.home {
  margin-top: 7px;
  margin-left: 10px;
}

.friends_messages_notifications {
  margin-left: 20px;
}
.friends, .messages, .notifications {
  margin-top: 4px;
  margin-left: 5px;
}

.help img, .dropdown img{
  width: 23px;
  height: 23px;
}

.help_and_dropdown {
  margin-left: 20px;
}

.help, .dropdown {
  margin-top: 4px;
  margin-left: 5px;
}


#content_wrapper{
  position: relative;
  top:29px;
  margin-top: 20px;
  height: 100%;
}

.left_part, .mid_part{
  float: left;
  margin-right: 15px;
  display: inline;
  /* height: 1000px; */
}

.contacts {
  height: 95%;
  overflow: scroll;
  width: 60%;
  float: left;
  background-color: red;
  display: inline-block;
  position: relative;
  /* bottom:225px; */
}

.left_part {
  width: 20%;
  /* background-color: blue; */
}

.mid_part {
  position: absolute;
  left: 20%;
  width: 35%;
  background-color: red;
}
.contact-wrapper{
  float: left;
  clear: right;

}
.right_part {
  right: 0;
  position: fixed;
  float: right;
  width: 40%;
  height: 100%;
  background-color: yellow;
}

.tools{
  float: left;
  display: inline;
  width: 40%;
  background-color: pink;
}
#left_menu {
  float: right;
  /* margin-top: 20px; */
  margin-right: 20px;
}

.left_part {
  position: fixed;
}
.news_feed img,
.messenger img,
.shortcut img,
.see_more img {
  width: 18px;
  height: 18px;
}

.side_menu_span {
  margin-top: 2px;
  margin-left: 3px;
}

.news_feed, .messenger, .shortcut, .see_more {
  margin-top: 7px;
  overflow: hidden;
}

.news_feed img, .news_feed span,
.messenger img, .messenger span {
  display: inline;
  float: left;
  margin-left: 4px;
}


#shortcuts, #explore, #create {
  margin-top: 30px;
}
#explore{
  vertical-align: bottom;
}
#shortcuts span {
  /* color: gray; */
}

.shortcut img, .shortcut span {
  display: inline;
  float: left;
}

#creation_choices {
  margin-top: 3px;
}

#creation_choices span {
  margin-right: 5px;
}









/**/
