html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  /* width: 100%; */
  /* height: 5%; */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/******************************/
.pointer {cursor: pointer;}


.top_bar {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #4168AC;
}

html {
  background-color: #EAEBEF;
}

.logo_and_search {
  float: left;
  margin-left: 15%;
  width: 35%;
}

.logo, .search_text, .search_button {
  float: left;
  display: inline;
  margin-right: 3px;
}

.search_text{
  margin-top: 6px; 
}

.search_button {
  margin-top: 6px;
}


#logo_img {
  width: 35px;
  height: 35px;
}

#search_img {
  width: 23px;
  height: 23px;
}


#search_bar {
  width: 250px;
  height: 17px;
}


.options {
  margin-right: 10%;
  display: inline;
  float: right;
  margin-top: 3px;
}

.avatar_and_name, .avatar, .profile_name, .account_switcher, .home, .friends_messages_notifications,
.friends, .messages, .notifications, .help_and_dropdown, .help, .dropdown{
  float: left;
  display: inline;
}

.avatar_and_name {
  margin-right: 20px;
}

.avatar {
  margin-top: 4px;
}
.profile_name {
  margin-top: 7px;
  margin-left: 5px;
}
.avatar img, .account_switcher img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.friends img {
  width: 23px;
  height: 23px;
  border-radius: 50%; 
}

.messages img {
  width: 20px;
  height: 20px;
  border-radius: 50%;  
  margin-top: 2px;
}

.notifications img {
  width: 21px;
  height: 21px;
  border-radius: 50%;  
  margin-top: 2px; 
}




.profile_name span, .home span {
  color: white;
  font-size: 85%;
}

.account_switcher {
  margin-top: 4px;
  margin-left: 10px;
}

.home {
  margin-top: 7px;
  margin-left: 10px;
}

.friends_messages_notifications {
  margin-left: 20px;
}
.friends, .messages, .notifications {
  margin-top: 4px;
  margin-left: 5px;
}

.help img, .dropdown img{
  width: 23px;
  height: 23px;
}

.help_and_dropdown {
  margin-left: 20px;
}

.help, .dropdown {
  margin-top: 4px;
  margin-left: 5px;
}


#content_wrapper{
  position: relative;
  top:29px;
  margin-top: 20px;
  height: 100%;
	background-color: red;
}

#left_part, #mid_part{
  float: left;
  margin-right: 15px;
  display: inline;
  /* height: 1000px; */
}

#contacts {
  height: 95%;
  overflow: scroll;
  width: 40%;
  float: right;
  /* background-color: red; */
  display: inline-block;
  position: relative;
  /* bottom:225px; */
}

#left_part {
  width: 20%;
  /* background-color: blue; */
}

#mid_part {
  position: absolute;
  left: 20%;
  width: 35%;
  /* background-color: red; */
}
.right_part {
  right: 0;
  position: fixed;
  float: right;
  width: 42%;
  height: 100%;
}

.tools{
  float: left;
  display: inline;
  width: 45%;
}
#left_menu {
  float: right;
  margin-right: 20px;
}

#left_part {
  position: fixed;
}
.news_feed img,
.messenger img,
.shortcut img,
.see_more img {
  width: 18px;
  height: 18px;
}

.side_menu_span {
  margin-top: 2px;
  margin-left: 3px;
}

.news_feed, .messenger, .shortcut, .see_more {
  margin-top: 7px;
  overflow: hidden;
}

.news_feed img, .news_feed span,
.messenger img, .messenger span {
  display: inline;
  float: left;
  margin-left: 4px;
}


#shortcuts, #explore, #create {
  margin-top: 30px;
}
#explore{
  vertical-align: bottom;
}
#shortcuts span {
  /* color: gray; */
}

.shortcut img, .shortcut span {
  display: inline;
  float: left;
}

#creation_choices {
  margin-top: 3px;
}

#creation_choices span {
  margin-right: 5px;
}

.story img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid;
}

#stories_span, #games_span {
  margin-left: 10px;
}

#stories {
  /* background-color: pink; */
}

.story {
  margin-top: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.story_image, .story_info {
  float: left;
  display: inline;
  margin-left: 10px;
}

#stories_see_more img {
  height: 20px;
  width: 20px;
}

#stories_see_more {
  margin-left: 10px;
  margin-top: 5px;
}



#games {
  margin-top: 30px;
  background-color: orange;

  overflow: hidden;
}

.game {
  display: inline;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}

.game img {
  margin-left: 10px;
  margin-top: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid;
}

#languages {
  margin-top: 50px;
  background-color: pink;
  overflow: hidden;
}

#languages span {
  /* overflow: hidden; */
  display: inline;
  float: left;
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 3px;
}

.contact {
	margin-left: 7px;
	margin-top: 7px;
}

.contact_avatar, .contact_name {
	float: left;
	display: inline;
}

.contact_status {
	float: right;
	display: inline;
	margin-right: 5px;
	margin-top: 6px;
}

.contact_name {
	margin-top: 6px;
	margin-left: 4px;
}

.contact_avatar img {
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
}

.contact_status img {
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.contact {
	overflow: hidden;
}

#mid_part {
	margin-left: 20px;
	/* margin-left: 3%; */
}

.post_author_avatar img {
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 50%;
}

.post_author_avatar, .post_author_and_time {
	float: left;
	display: inline;
}

.post_content, .post_meta {
	overflow: hidden;
}

.post_author {
	margin-top: 3px;
	margin-bottom: 3px;
}
.post_author_and_time {
	margin-left: 5px;
}

.post_meta {
	margin-left: 5px;
	margin-top: 5px;
}

.post_content {
	margin-left: 10px;
	margin-top: 7px;
	margin-bottom: 6px;
}

.post_actions img {
	width: 15px;
	height: 15px;
}

.post_like, .post_comment, .post_share {
	display: inline;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.post_like {
	margin-left: 2%;
}
.post_comment {
	margin-left: 27%;
	margin-right: 27%;
}

.post_likes_counter {
	float: left;
	display: inline;
}

.post_likes_counter img {
	width: 14px;
	height: 14px;
	float: left;
	display: inline;
	margin-left: 2px;
}


.post_coment_share_counter {
	float: right;
	display: inline;
}

.post_coment_share_counter span {
	margin-right: 5px;

}

.post_summary {
	margin-left: 2px;
	margin-bottom: 3px;
	margin-top: 5px;

}

.post_summary, .post_actions {
	overflow: hidden;
}

.comment_avatar img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.comment_avatar {
	width: 8%;
}

.comment_info {
	width: 92%;
}

.comment_avatar, .comment_info {
	float: left;
	display: inline;
}

.post {
	background-color: pink;
  overflow: all;
  display: inline-block;

}




/**/
